 <div class="mdl-layout--large-screen-only mdl-layout__header-row" >
          </div>
  <div class="mdl-layout__tab-bar mdl-color--primary-dark">

    <a ng-class="{ 'is-active': isActive('/')}" href="#/" class="mdl-layout__tab">Home</a>
    <a ng-class="{ 'is-active': isActive('/learn/html')}" href="#/learn/html" class="mdl-layout__tab">HTML</a>  
    <a ng-class="{ 'is-active': isActive('/learn/css')}" href="#/learn/css" class="mdl-layout__tab">CSS</a>  
    <a ng-class="{ 'is-active': isActive('/learn/javascript')}" href="#/learn/javascript" class="mdl-layout__tab">Javascript</a>  
    <a ng-class="{ 'is-active': isActive('/learn/laravel-5')}" href="#/learn/laravel-5" class="mdl-layout__tab">Laravel 5</a>  
    <a ng-class="{ 'is-active': isActive('/learn/node-js')}" href="#/learn/node-js" class="mdl-layout__tab">Node JS</a>  
   
  </div>