<ul>
	<li>
		<a href="#/learn/{{ course }}/introduccion-a-la-programacion">
			<span class="icon"><i class="fa fa-arrow-right"></i></span>
			<span class="text">Introducción a la programación</span>
		</a>
	</li> 
	<li>
		<a href="#/learn/{{ course }}/introduccion-a-las-funciones">
			<span class="icon"><i class="fa fa-arrow-right"></i></span>
			<span class="text">Introducción a las funciones en JS</span>
		</a>
	</li>
	<li>
		<a href="#/learn/{{ course }}/introduccion-a-los-ciclos-while">
			<span class="icon"><i class="fa fa-arrow-right"></i></span>
			<span class="text">Introducción a los 'Ciclos while' en JS</span>
		</a>
	</li>
	<li>
		<a href="#/learn/{{ course }}/introduccion-a-los-ciclos-for">
			<span class="icon"><i class="fa fa-arrow-right"></i></span>
			<span class="text">Introducción a los 'Ciclos for' en JS</span>
		</a>
	</li>
 
</ul>
