
<ul>
	<li>
		<a href="#">
			<span class="icon"><i class="fa fa-arrow-right"></i></span>
			<span class="text">HTML5</span>
		</a>
	</li> 
	<li>
		<a href="#">
			<span class="icon"><i class="fa fa-arrow-right"></i></span>
			<span class="text">HTML5</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="icon"><i class="fa fa-arrow-right"></i></span>
			<span class="text">HTML5</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="icon"><i class="fa fa-arrow-right"></i></span>
			<span class="text">HTML5</span>
		</a>
	</li>
 
</ul>
