<nav ng-include="'views/sidebar.html'" class="mdl-shadow--4dp"></nav>

<div class="mdl-layout__tab-panel is-active" id="view">
  <div ng-controller="homeCtrl">
    
   <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <h4>{{ topic }}</h4>
      Minim duis incididunt est cillum est ex occaecat consectetur. Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
    
      <h5 id="lorem1">Lorem ipsum dolor sit amet</h5>
      Excepteur et pariatur officia veniam anim culpa cupidatat consequat ad velit culpa est non.
      <ul>
        <li>Nisi qui nisi duis commodo duis reprehenderit consequat velit aliquip.</li>
        <li>Dolor consectetur incididunt in ipsum laborum non et irure pariatur excepteur anim occaecat officia sint.</li>
        <li>Lorem labore proident officia excepteur do.</li>
      </ul>

    
    </div>
  </section>
  </div>
</div>